@import "bootstrap";

body {
  background-color: #BFE8FF;
  padding: 20pt;
}

.navbar-brand {
  font-family: 'Monoton', cursive;
  font-size: 3rem;
}

// div.card-block {
//   background-color: #F2CCFF
// }
